.vh50-overflow-y{
    height: 50vh;
    overflow-y: scroll;
}

#macro-column > .card-header {
    display: flex;
    justify-content: space-between;
}

#macro-column > .card-header .btn {
    padding-top: 0;
    padding-bottom: 0;
}

#modalEditMacro > .modal-dialog{
    height: 90vh;
}

#modalEditMacro .modal-content{
    height: 100%;
    overflow-y: scroll;
}

#modalEditMacro .hide{
    display: none;
}